// ---------------
// Global Settings
// ---------------

$bumf-primary = #33c33c
$bumf-secondary = #44d44d
$bumf-tertiary = #55e55e
$clr-primary = $bumf-primary

rupture.scale = 0 480px 768px 992px 1200px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
