// ---------------
// Global Settings
// ---------------

$clr-primary = $clr-cyan-500
$clr-primary-dark = $clr-cyan-700
$clr-accent = $clr-amber-400
$clr-success = $clr-cyan-400
$clr-warning = $clr-amber-500
$clr-danger = $clr-deep-orange-400
